* {
  font-family: "Assistant", sans-serif;
}
.profile {
  width: 150px;
}

h3 {
  font-size: 28px;
  font-weight: 600;
}

p {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 400;
}

.button-portofolio {
  margin: 14px;
  width: 250px;
  height: 60;
  border-radius: 8px;
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 26px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);

  &:hover {
    color: #2b2b2b;
    background-color: #f0f0f0;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }
}

.img-portofolio {
  margin: 13px 46px 13px 21px;
  width: 34px;
}
